*{

    font-family: Quicksand;
}
body{
   
   
    font-size: 16px;

}
header{
   
}

.sect1{
    background-image: url(/home/mahesh/Desktop/assign/code/Assets/banner-img.png);
    background-position: center; 
    height: 700px;
}
header a{
    margin-top: 0px;
    padding-top:0;
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding-right: 52px;
    padding-top: 27px;
    float : left;
}
header a:hover{
    color: rgb(153, 204, 0);
}
.logo{ 
    z-index: 1000;
    position: fixed;
    float: left;
    height: 70px;
    width: 70px;
    margin-left: 175px;
    margin-top: -25px;
  
    background-color: rgba(0, 0, 0, 0.3);
    padding: 25px;
    padding-bottom: 50px;
    border-radius: 15px;
   
}   
header ul{
   
    margin-left: 600px;
}
header li{
    
    display: inline;

}
nav{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 70px;

    background-color: rgba(0, 0, 0, 0.3);
   
}
.sign{
    width: 95px;
    height: 90px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right:20px;
    background-color: #a2c73c;
    border-radius : 20px;
}
.banner{
    
 
  padding-top: 230px;
  color: azure;
  font-size: 35px;
}
.button{
    text-decoration: none;
    height: 66px;
    width: 560px;
    padding-left: 188px;
    padding-right: 188px;
    color:white;
    background-color: #a2c73c;
    border-radius: 30px;


}

.sect2{
    background-color: white;
    height: 1000px;

}
.sect2 div{ 

    padding: 225px;
    margin: 0px;
  padding-top : 111px;
    margin-left: 100px;

  
  }
  .sect2 div ul {
     
     
     list-style: none;
    
  }
  .sect2 div ul li{
      padding: 0px;
      margin: 0px;
      height: 266px;
      width: 266px;
      float: left;
      text-align: center;
   
      
  }
  .sect2 div ul li img{
    height: 266px;
    width: 266px;

  }
  #li1{
  background-color: #a2c73c;
  }
  #li3{
      background-color: #075daa;
  }
  #li7{
    background-color: #4494d1;
}
#li9{
    background-color:#0eb049 ;
}
  .sect2 div ul li .mid{
      padding-top: 56px;
      text-align: center;
      height: 50px;
      width: 50px;
      
  }
  .sect3{
      height: 538px;
      background-color: #0072bc;
      color: white;
  }
  .sect3 .head1{

      padding-top: 88px;
      color: white;
      padding-bottom: 50px;

  }
  .button2{
    font-size:35px; 
    padding-top: 130px;
    
  }
  
  .sect4{
    
      background-color: white;
      height: 1000px;
      margin: auto;
     
  }

  .sect4 div ul{
       
      list-style: none;
      margin-top: 100px;
  }
  .sect4 div ul li{
      float: left;
      width: 370px;
      height: 440px;
      
  }
  .text{
      padding-bottom: 50px;
  
  }
.whitebutton{
    text-decoration: none;
    background-color: white;
   padding-top:10px;
   padding-bottom:10px;
   padding-left: 50px;
   padding-right: 50px;
    width: 256;
    height: 50;
    color: #0072bc;
    border-style: solid;
   border-color:#a2c73c;
   border-width: 2px;
    border-radius: 30px;
}
.whitebutton:hover{
    background-color:  #7fa810;
}
footer{
    background-color: #0f151a;
    width: 100%;
    height: 365px;
    color:#3e6485;
}
.logo2{
    padding-top: 50px;
    padding-left: 457px;
}

.footer1 ul{
    list-style: none;
    float: right;
    padding-top: 55px;
    padding-right: 130px;
    
}

.footer1 ul li{
    float: left;
    padding-right: 25px;
}

.footer2 ul{
    
    text-decoration: none;
    list-style: none;
   padding-top: 115px;
   padding-left: 35px;

}
.footer2 ul div{
    float: left;
}
.footer2 ul li a:hover{
    color:  #7fa810;
}
.footer2 ul li a{
    text-decoration: none;
    color:#3e6485;
}
footer div{
    float:block;
}
.footer3{

    background-color: #0f151a;
  border-style: solid;
  border-color: black;
  border-width: 2px;
 

}